$hover-color: #E59C9C;
.header {
    margin: 0 auto;
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 50px;
    ul {
        a, a:link, a:visited {
            text-decoration: none;
            color: #FFF;
        }
        a:hover {
            text-decoration: underline;
            color: $hover-color;
        }
        list-style-type: none;
        li {
            margin-left: 60px ;
            display: inline;
        }
    }
}